*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper{
    display: block;
    max-width: 2224px;
    margin: 0 auto;
}

.content{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.categories{
    width: 250px;
    min-height: 80vh;
    padding: 25px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

li.item,
.link{
    color: #fff;
}

.sub-link{
    color: lavender;
    padding-left: 14px;
}

.item:hover .sub-list{
    display: block;
}

.sub-list{
    display: none;
    padding-left: 20px;
}

.table-item{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.content-categories{
    display: block;
    width: 80%;
}

a.button-create{
    color: #fff;
    margin: 10px 0;
    text-align: center;
    float: left;
}

.clear{
    clear: both;
}

.content-paginate{
    margin: 5px auto;
}

.paginate-products{
    /* margin-top: 5px; */
}

.button-create,
.paginate-button,
.alert-paginate-products{
    float: right;
    padding: 10px;
}

.button-create,
.paginate-button a{
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px 20px;
}

.paginate-button a{
    color: #fff;
}
