.redactor-categories{
    margin-left: 20px;
}

.cruid-category{
    font-size: 12px;
}

.title-category:hover .sub-list-category{
    display: block;
}

.sub-list-category{
    margin-left: 20px;
    display: none;
}

.title-category,
.sub-list-category{
    list-style: none;
}

.button-category{
    margin: 20px 0;
}

a.button-category-create{
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px 20px;
}
